<section class="advantages section">
    <div class="container">
        <h2 class="title-section visually-hidden">Advantage</h2>
        <div class="list-box">
            <ol class="advantage-list">
                <li class="advantage-list-item">
                    <p class="number">01</p>
                    <p class="list-item-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantage-list-item">
                    <p class="number">02</p>
                    <p class="list-item-text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantage-list-item">
                    <p class="number">03</p>
                    <p class="list-item-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets
                        from the water</p>
                </li>
                <li class="advantage-list-item">
                    <p class="number">04</p>
                    <p class="list-item-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor
                        atmosphere.</p>
                </li>
            </ol>
        </div>
        <div class="image-box">
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="./img/adventages/photo-advantage-desktop.jpg 1x, ./img/adventages/photo-advantage-desktop@2x.jpg 2x ">
                <source media="(min-width: 768px)"
                    srcset="./img/adventages/photo-advantage-tablet.jpg 1x, ./img/adventages/photo-advantage-tablet@2x.jpg 2x">
                <source media="(min-width: 320px)"
                    srcset="./img/adventages/photo-advantage-mobile.jpg 1x, ./img/adventages/photo-advantage-mobile@2x.jpg 2x">
                <img src="../img/adventages/photo-advantage-mobile.jpg" alt="Yacht dinning room">
            </picture>
        </div>
    </div>
</section>
