<link href="../css/footer.css" rel="stylesheet" />

<footer class="end-page">
    <div class="container">
        <div class="block-one">
            <div class="logo-footer"><a class="logo-end" href="/src/index.html">yachtjet</a>
                <div class="buttons">
                    <button type="button" class="link"><a href="#about">ABOUT</a></button>
                    <button type="button" class="link"><a href="#about">YACHTS</a></button>
                    <button type="button" class="link"><a href="#about">REVIEWS</a></button>
                </div>
            </div>
            <div class="social-icons">
                <ul class="social-icons-block">
                    <li class="footer-icon"><a class="footer-icon-link" href="https://www.instagram.com/goitclub/"
                            target="_blank">
                            <svg class="footer-svg" width="24" height="24">
                                <use href="/src/public/icons.svg#icon-instagram"></use>
                            </svg></a></li>
                    <li class="footer-icon"><a class="footer-icon-link" href="https://www.youtube.com/c/GoIT"
                            target="_blank">
                            <svg class="footer-svg" width="24" height="24">
                                <use href="/src/public/icons.svg#icon-youtube"></use>
                            </svg></a></li>
                    <li class="footer-icon"><a class="footer-icon-link" href="https://www.facebook.com/goITclub/"
                            target="_blank">
                            <svg class="footer-svg" width="24" height="24">
                                <use href="/src/public/icons.svg#icon-facebook"></use>
                            </svg></a></li>
                </ul>
            </div>
            <div class="text">
                <p>No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and
                    enjoyable.</p>

            </div>

        </div>
    </div>
</footer>