<footer class="end-page">
    <div class="container">
        <div class="logo-footer"><a class="logo-end">yachtjet</a>
            <div class="buttons">
                <button type="button" class="link"><a href="#about">ABOUT</a></button>
                <button type="button" class="link"><a href="#about">YACHTS</a></button>
                <button type="button" class="link"><a href="#about">REVIEWS</a></button>
            </div>
            <div class="social-icons">
                <li class="footer-icon-blue"><a class="footer-icon-link" href="" target="_blank">
                        <svg class="footer-icons-team" width="24" height="24">
                            <use href=" https://www.instagram.com/goitclub/#icon-instagram"></use>
                        </svg></a>
                <li class="footer-icon-blue"><a class="footer-icon-link" href="" target="_blank">
                        <svg class="footer-icons-team" width="24" height="24">
                            <use href=" https://www.youtube.com/c/GoIT#icon-youtube"></use>
                        </svg></a>
                <li class="footer-icon-blue"><a class="footer-icon-link" href="" target="_blank">
                        <svg class="footer-icons-team" width="24" height="24">
                            <use href="https://www.facebook.com/goITclub/#icon-facebook"></use>
                        </svg></a>
            </div>
            <div class="text">
                No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and
                enjoyable.
            </div>
            <div class="footer-bottom">
                2023. Yacht Adventures &nbsp;&nbsp; Privacy Policy
            </div>
        </div>>
        </foote>