<div class="conteiner header-container">
    <div class="header-block">
        <a href="./index.html" class="header-logo">yachtjet</span></a>
        <nav class="header-nav-menu">
            <ul class="header-nav-menu-list">
                <ul class="header-nav-menu-list">
                    <li class="header-nav-menu-list-item">
                        <a href="#about-us" class="header-nav-menu-list-title">About</a>
                    </li>
                    <li class="header-nav-menu-list-item">
                        <a href="#our-yachts" class="header-nav-menu-list-title">Yachts</a>
                    </li>
                    <li class="header-nav-menu-list-item">
                        <a href="#reviews" class="header-nav-menu-list-title">Reviews</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <div class="social">
            Social icons
        </div>
    </div>
</div>