<div class="header-container">
    <div class="header-block">
        <a href="./index.html" class="header-logo">yachtjet</a>
        <nav class="header-nav-menu">
            <ul class="header-nav-menu-list">
                <ul class="header-nav-menu-list">
                    <li class="header-nav-menu-list-item">
                        <a href="#about-us" class="header-nav-menu-list-title">About</a>
                    </li>
                    <li class="header-nav-menu-list-item">
                        <a href="#our-yachts" class="header-nav-menu-list-title">Yachts</a>
                    </li>
                    <li class="header-nav-menu-list-item">
                        <a href="#reviews" class="header-nav-menu-list-title">Reviews</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <div class="header-social">
            <ul class="header-social-list">
                <li class="header-social-list-item">
                    <a href="https://www.instagram.com/goitclub/" class="header-social-icon-link" target="_blank">
                        <svg class="header-icon" width="19" height="19">
                            <use href="/public/icons.svg#icon-instagram"></use>
                        </svg> </a>
                </li>
                <li class="header-social-list-item">
                    <a href="https://www.youtube.com/c/GoIT" class="header-social-icon-link" target="_blank">
                        <svg class="header-icon" width="20" height="20">
                            <use href="/public/icons.svg#icon-youtube"></use>
                        </svg></a>
                </li>
                <li class="header-social-list-item">
                    <a href="https://www.facebook.com/goITclub/" class="header-social-icon-link" target="_blank">
                        <svg class="header-icon" width="20" height="20">
                            <use href="/public/icons.svg#icon-facebook"></use>
                        </svg></a>
                </li>
            </ul>
        </div>
        <button type="button" class="burger-btn" data-menu-open>
            <svg class="header-menu-icon" width="28" height="28">
                <use href="/public/icons.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</div>