<div class="mobile-menu" mobile-menu>
  <div class="container mobile-menu-container">
    <div class="head-mobile-menu">
      <p class="head-mobile-logo">yachtjet</p>
      <button class="mobile-close-btn" type="button" mobile-menu-close>
        <svg class="close-button-icon" width="16" height="16">
          <use href="/public/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <!--  -->
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#">About</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#">Yachts</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-socials">
      <ul class="mobile-socials-list">
        <li class="mobile-socials-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="mobile-socials-link"
            target="_blank"
            ><svg class="mobile-socials-icon" width="20" height="20">
              <use href="/public/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="mobile-socials-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="mobile-socials-link"
            target="_blank"
            ><svg class="mobile-socials-icon" width="20" height="20">
              <use href="/public/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="mobile-socials-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="mobile-socials-link"
            target="_blank"
            ><svg class="mobile-socials-icon" width="20" height="20">
              <use href="/public/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
