<section class="our-yachts">
        <h2 class="">Choose your dream yacht and sail away into the sunset</h2>
    <div class="">
        <ul class="">
            <li class="">
               <div class="">
    <picture>
        <source>
        <source>
        <source>
        <img src="../img/our-yachts/img-yaht-hero.jpg" alt="" width="345" height="268">
    </picture>
             </div>
             <h3 class="">Arrow</h3>
             <p class="">LUXURY YAHTS</p>
             <svg class="" width="313" height="2">
               <use href=""></use>
             </svg>
            <p><span class="">Length</span> 48m (155ft)</p>
            <p><span class="">Builder</span> Admiral</p>
            <p><span class="">Built</span> 2021</p>
            <p><span class="">Guests</span> 11 in 5 cabins</p>
            <p><span class="">Price</span> €33,500,000</p>
            </li>
            <li class="">
            <div class="">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="../img/our-yachts/img-yaht-two.jpg" alt="" width="345" height="268">
                </picture>
            </div>
            <h3 class="">BENETTI OASIS 40M BO122</h3>
            <p class="">LUXURY YAHTS</p>
            <svg class="" width="313" height="2">
                <use href=""></use>
            </svg>
            <p><span class="">Length</span> 41m (133ft)</p>
            <p><span class="">SHIPYARD</span> Benetti</p>
            <p><span class="">Built</span> 2025</p>
            <p><span class="">Guests</span> 10 in 5 cabins</p>
            <p><span class="">Price</span> €23,210,000</p>
            </li>
            <li>
            <div class="">
                <picture>
                    <source>
                    <source>
                    <source>
                    <img src="../img/our-yachts/img-yaht-th.jpg" alt="" width="345" height="268">
                </picture>
            </div>
            <h3 class="">BELLE ANNA</h3>
            <p class="">LUXURY YAHTS</p>
            <svg class="" width="313" height="2">
                <use href=""></use>
            </svg>
            <p><span class="">Length</span> 50m(155ft)</p>
            <p><span class="">SHIPYARD</span> ISA</p>
            <p><span class="">Built</span> 2012</p>
            <p><span class="">Guests</span> 12 in 6 cabins</p>
            <p><span class="">Price</span> €21,000,000</p>
            </li>
        </ul>
        <a href="">Yacht rental</a>
    </div>
</section>
