<section class="our-yachts">
    <div class="container">
    <h2 class="title">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="our-yachts-list">
            <li class="our-yachts-item">
                <div class="our-yachts-img">
                    <picture>
                        <source srcset="">
                        <source srcset="">
                        <source srcset="">
                        <img src="../img/our-yachts/img-yaht-hero.jpg" alt="Luxury yacht Arrow" width="345" height="268">
                    </picture>
                </div>
                <div class="our-yachts-container">
                    <h3 class="our-yachts-subtitle">Arrow</h3>
                    <p class="our-yachts-text">LUXURY YAHTS</p>
                </div>

                <div class="our-yachts-description">
                    <ul class="our-yachts-description-list">
                        <li class="our-yachts-description-item"><p class="our-yachts-text-frs">Length</p></li>
                        <li class="our-yachts-description-item"><p class="our-yachts-text-frs">Builder</p></li>
                        <li class="our-yachts-description-item"><p class="our-yachts-text-frs">Built</p></li>
                        <li class="our-yachts-description-item"><p class="our-yachts-text-frs">Guests</p></li>
                        <li class="our-yachts-description-item"><p class="our-yachts-text-frs">Price</p></li>
                    </ul>
                    <ul class="our-yachts-description-list-next">
                        <li class="our-yachts-description-item"><p class="our-yachts-text-description">48m (155ft)</p></li>
                        <li class="our-yachts-description-item"><p class="our-yachts-text-description">Admiral</p></li>
                        <li class="our-yachts-description-item"><p class="our-yachts-text-description">2021</p></li>
                        <li class="our-yachts-description-item"><p class="our-yachts-text-description">11 in 5 cabins</p></li>
                        <li class=""><p class="our-yachts-text-description">€33,500,000</p></li>
                    </ul>
                </div>
            </li>
            <li class="our-yachts-item">
                <div class="our-yachts-img">
                    <picture>
                        <source srcset="">
                        <source srcset="">
                        <source srcset="">
                        <img src="../img/our-yachts/img-yaht-two.jpg" alt="Luxury yacht Benetti Oasis 40M BO122" width="345" height="268">
                    </picture>
                </div>
                <div class="our-yachts-container">
                    <h3 class="our-yachts-subtitle">BENETTI OASIS 40M BO122</h3>
                    <p class="our-yachts-text">LUXURY YAHTS</p>
                </div>

                <div class="our-yachts-description">
                    <ul class="our-yachts-description-list">
                        <li>
                            <p class="our-yachts-text-frs">Length</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">SHIPYARD</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">Built</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">Guests</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">Price</p>
                        </li>
                    </ul>
                    <ul class="our-yachts-description-list-next">
                        <li>
                            <p class="our-yachts-text-description">41m (133ft)</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">Benetti</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">2025</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">10 in 5 cabins</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">€23,210,000</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="our-yachts-item">
                <div class="our-yachts-img">
                    <picture>
                        <source srcset="">
                        <source srcset="">
                        <source srcset="">
                        <img src="../img/our-yachts/img-yaht-th.jpg" alt="Luxury yacht Belle Anna" width="345" height="268">
                    </picture>
                </div>
                <div class="our-yachts-container">
                    <h3 class="our-yachts-subtitle">BELLE ANNA</h3>
                    <p class="our-yachts-text">LUXURY YAHTS</p>
                </div>

                <div class="our-yachts-description">
                    <ul class="our-yachts-description-list">
                        <li>
                            <p class="our-yachts-text-frs">Length</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">SHIPYARD</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">Built</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">Guests</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-frs">Price</p>
                        </li>
                    </ul>
                    <ul class="our-yachts-description-list-next">
                        <li>
                            <p class="our-yachts-text-description">50m(155ft)</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">ISA</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">2012</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">12 in 6 cabins</p>
                        </li>
                        <li>
                            <p class="our-yachts-text-description">€21,000,000</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    <a href="#" class="our-yachts-rental">Yacht rental</a>
    </div>
</section>