<section class="our-yachts">
    <div class="container">
    <h2 class="title">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="our-yachts-list">
            <li class="our-yachts-item">
                <div class="our-yachts-img">
                    <picture>
                        <source srcset="">
                        <source srcset="">
                        <source srcset="">
                        <img src="../img/our-yachts/img-yaht-hero.jpg" alt="Luxury yacht Arrow" width="345" height="268">
                    </picture>
                </div>
                <div class="our-yachts-container">
                    <h3 class="our-yachts-subtitle">Arrow</h3>
                    <p class="our-yachts-text">LUXURY YAHTS</p>
                </div>
                <svg class="our-yachts-svg" width="313" height="2">
                    <use href=""></use>
                </svg>
                <div class="our-yachts-description">
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Length</span> 48m (155ft)</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Builder</span> Admiral</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Built</span> 2021</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Guests</span> 11 in 5 cabins</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Price</span> €33,500,000</p>
                </div>
            </li>
            <li class="our-yachts-item">
                <div class="our-yachts-img">
                    <picture>
                        <source srcset="">
                        <source srcset="">
                        <source srcset="">
                        <img src="../img/our-yachts/img-yaht-two.jpg" alt="Luxury yacht BENETTI OASIS 40M BO122" width="345" height="268">
                    </picture>
                </div>
                <div class="our-yachts-container">
                    <h3 class="our-yachts-subtitle">BENETTI OASIS 40M BO122</h3>
                    <p class="our-yachts-text">LUXURY YAHTS</p>
                </div>
                <svg class="our-yachts-svg" width="313" height="2">
                    <use href=""></use>
                </svg>
                <div class="our-yachts-description">
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Length</span> 41m (133ft)</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">SHIPYARD</span> Benetti</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Built</span> 2025</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Guests</span> 10 in 5 cabins</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Price</span> €23,210,000</p>
                </div>
            </li>
            <li class="our-yachts-item">
                <div class="our-yachts-img">
                    <picture>
                        <source srcset="">
                        <source srcset="">
                        <source srcset="">
                        <img src="../img/our-yachts/img-yaht-th.jpg" alt="Luxury yacht BELLE ANNA" width="345" height="268">
                    </picture>
                </div>
                <div class="our-yachts-container">
                    <h3 class="">BELLE ANNA</h3>
                    <p class="">LUXURY YAHTS</p>
                </div>
                <svg class="our-yachts-svg" width="313" height="2">
                    <use href=""></use>
                </svg>
                <div class="our-yachts-description">
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Length</span> 50m(155ft)</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">SHIPYARD</span> ISA</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Built</span> 2012</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Guests</span> 12 in 6 cabins</p>
                    <p class="our-yachts-text-description"><span class="our-yachts-text-span">Price</span> €21,000,000</p>
                </div>
            </li>
        </ul>
        <a href="" class="our-yachts-rental">Yacht rental</a>
    </div>
</section>