ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    margin: 0;
}

p {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    
}
.advantages {
    padding: 40px 0;
}

.container {
    box-sizing: border-box;
    width: 375px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0 20px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.list-box {
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #1b414b;
    padding: 80px 20px;
}

.advantage-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantage-list-item {
    display: flex;
    flex-direction: column;
    width: 295px;
}

.number {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    color: #fbfbfb;
    letter-spacing: -0.05em;
    margin: 0;
}

.number::after {
    content: "";
    display: block;
    width: 100%;
    background-color: rgba(251, 251, 251, 0.1);
    height: 2px;
    border-radius: 18px;
    left: 0;
    margin-top: 18px;
    margin-bottom: 18px;
}

.list-item-text {
    font-family: "Inter", sans-serif;
    color: #fbfbfb;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.8;
}

.image-box {
    border-radius: 24px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {

    .advantages {
        padding: 75px 0;
    }

    .container {
        min-width: 768px;
        gap: 32px;
        padding: 0 32px;
    }

    .list-box {
        padding: 90px 32px;
    }

    .advantage-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 32px;
    }

    .advantage-list-item {
        width: calc((100% - 32px)/2);
    }

    .number {
        font-size: 32px;
    }

    .number::after {}

    .list-item-text {
        font-size: 13px;
        line-height: 1.15;

    }

}

@media screen and (min-width: 1280px) {
    .advantages {}

    .container {
        min-width: 1280px;
        box-sizing: border-box;
        flex-direction: row;
        padding: 0 50px;
    }

    .list-box {
        padding: 90px 50px;
        width: 716px;
    }

    .advantage-list {
        gap: 44px;
    }

    .advantage-list-item {
        width: calc((100% - 44px)/2);
    }

    .number {}

    .number::after {}

    .list-item-text {}

    

}