body {
    font-family: "Inter", sans-serif;
    background: #0e1823;
    color: #1b414b;
}

.header-hero-div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}